
.container {
  width: 800px;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 15px 0;
}

nav {
  display: flex;
  align-items: flex-end;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 0 40px;
}

/* FOOTER */

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}